<!--begin speed-->
<section class="speed" style="background-image: url('img/bg_speed.jpg')">
    <div class="container">
        <div class="speed__wrapper speed_wrap">
            <div class="speed_wrap__info speed_info">
                <div class="speed_info__title">
                    <h1 class="title">
                        High Speed Premium Private Proxies
                    </h1>
                </div>
                <div class="speed_info__text">
                    <p>The best place to get your premium proxies with an awesome support team.</p>
                </div>
                <div class="speed_info__btn">
                    <a class="btn_orange" href="#/">View plans</a>
                </div>
            </div>
            <div class="speed_wrap__img">
                <img src="img/image_speed.svg" alt="Speed">
            </div>
        </div>
    </div>
</section>
<!--end speed-->
<!--begin features-->
<section class="features">
    <div class="container">
        <div class="features__wrapper features_wrap">
            <div class="features_wrap__info">
                <h2 class="title">Features</h2>
                <p>These form the basis of our service.</p>
            </div>
            <div class="features_wrap__list features_list">
                <ul>
                    <li>
                        <img src="img/icon_performance.svg" alt="Icon">
                        <p>High Performance</p>
                    </li>
                    <li>
                        <img src="img/icon_anon.svg" alt="Icon">
                        <p>Highly Anonymous</p>
                    </li>
                    <li>
                        <img src="img/icon_speed.svg" alt="Icon">
                        <p>1 GBPS Speed</p>
                    </li>
                    <li>
                        <img src="img/icon_ads.svg" alt="Icon">
                        <p>Classified Ads</p>
                    </li>
                    <li>
                        <img src="img/icon_locations.svg" alt="Icon">
                        <p>Multiple Locations</p>
                    </li>
                    <li>
                        <img src="img/icon_dedicated.svg" alt="Icon">
                        <p>Dedicated IPs</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--end features-->
<!--begin works-->
<section class="works">
    <div class="container">
        <div class="works__info s_info">
            <h2 class="title">Limeproxies works for you</h2>
            <p>Our clients love us because we never settle on these</p>
        </div>
        <div class="works__list works_list">
            <!--begin works item-->
            <div class="works_list__item works_item">
                <div class="works_item__info">
                    <img src="img/img_feature_support.svg" alt="Support">
                    <h4 class="title">Support that cares</h4>
                    <p>Support is our number one priority. Pro-active WordPress experts at your service, who reach out when your attention  is needed.</p>
                </div>
            </div>
            <!--end works item-->
            <!--begin works item-->
            <div class="works_list__item works_item">
                <div class="works_item__info">
                    <img src="img/img_feature_location.svg" alt="Location">
                    <h4 class="title">40+ Geo Locations</h4>
                    <p>With limeproxies you get to Choose from of several international and US geo locations</p>
                </div>
            </div>
            <!--end works item-->
            <!--begin works item-->
            <div class="works_list__item works_item">
                <div class="works_item__info">
                    <img src="img/img_feature_powerfull.svg" alt="Powerfull">
                    <h4 class="title">User-friendly, yet powerful </h4>
                    <p>Designed with beginners in mind and packed with advanced features our dashboard is user friendly and easy to install.</p>
                </div>
            </div>
            <!--end works item-->
        </div>
    </div>
</section>
<!--end works-->
<!--begin tabs-->
<section class="tabs">
    <div class="container">
        <div class="tabs__wrapper tabs_wrap">
            <div class="tabs_wrap__info tabs_info">
                <h2 class="title">Limeproxies is anonymous browising reimagined</h2>
                <div class="tabs_info__list tabs_list">
                    <div class="tabs_list__item active" data-id="tab_1">
                        <h4 class="title">
                            Dashboard overview for all available IP
                        </h4>
                        <p>Limeproxies Dashboard is the control center for your sites. From tracking bandwidth, visitor stats to creating convenient location.</p>
                    </div>
                    <div class="tabs_list__item" data-id="tab_2">
                        <h4 class="title">
                            Get 24/7/365 Real time Support.
                        </h4>
                        <p>Limeproxies Dashboard is the control center for your sites. From tracking bandwidth, visitor stats to creating convenient location.</p>
                    </div>
                    <div class="tabs_list__item" data-id="tab_3">
                        <h4 class="title">
                            Choice of International and US geo locations.
                        </h4>
                        <p>Limeproxies Dashboard is the control center for your sites. From tracking bandwidth, visitor stats to creating convenient location.</p>
                    </div>
                </div>
            </div>
            <div class="tabs_wrap__img tabs_img">
                <img class="active" id="tab_1" src="img/img_tab_1.svg" alt="Tab">
                <img id="tab_2" src="img/img_tab_2.svg" alt="Tab">
                <img id="tab_3" src="img/img_tab_3.svg" alt="Tab">
            </div>
        </div>
    </div>
</section>
<!--end tabs-->
<!--begin partners-->
<section class="partners">
    <div class="container">
        <div class="partners__info s_info">
            <h2 class="title">Already with Us</h2>
        </div>
        <div class="partners__logo">
            <img src="img/logo_labs.png" alt="Labs">
            <img src="img/logo_booking.png" alt="Booking">
            <img src="img/logo_webposition.png" alt="Webposition">
            <img src="img/logo_hotels.png" alt="Hotels">
        </div>
    </div>
</section>
<!--end partners-->
<!--begin plan-->
<section class="plan">
    <div class="container">
        <div class="plan__info s_info">
            <h2 class="title">Try any plan free for 2 days</h2>
            <p>Upgrade, downgrade or cancel anytime. Pay only for what you need.</p>
        </div>
        <div class="plan__bottom">
            <p>No credit card required. All plans include unlimited emails and no hidden fees. Were here to help you, talk to sales.</p>
        </div>
    </div>
</section>
<!--end plan-->
<!--begin guarantee-->
<section class="guarantee">
    <div class="container">
        <div class="guarantee__wrapper guarantee_wrap">
            <div class="guarantee_wrap__info">
                <h2 class="title"><span>3 day</span>money-back guarantee</h2>
                <p>and the most generous terms in hosting </p>
            </div>
            <div class="guarantee_wrap__list guarantee_list">
                <ul>
                    <li>
                        <img src="img/icon_upgrade.svg" alt="Icon">
                        <p>No upgrade or downgrade penalty</p>
                    </li>
                    <li>
                        <img src="img/icon_refunds.svg" alt="Icon">
                        <p>Prorated Refunds</p>
                    </li>
                    <li>
                        <img src="img/icon_contact.svg" alt="Icon">
                        <p>No fixed term contract</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--end guarantee-->
<!--begin questions-->
<section class="questions">
    <div class="container">
        <div class="questions__wrapper">
            <h2 class="title">Frequently asked Questions</h2>
            <img src="img/img_faq.svg" alt="FAQ">
        </div>
        <div class="questions__list questions_list">
            <!--begin questions item-->
            <div class="questions_list__item questions_item">
                <h4 class="title">How does your affiliate program work?</h4>
                <p>Signup for an account, login to your Affiliate Panel to get your custom affiliate tracking URL. Place your tracking URL on your website, newsletter, paid search, software, or other media and earn credit for each sale that comes from your tracking URL. Our Affiliate System analyzes a combination of visitors IP and cookies to make sure you get proper signup credits.</p>
            </div>
            <!--end questions item-->
            <!--begin questions item-->
            <div class="questions_list__item questions_item">
                <h4 class="title">How are sales tracked from my site?</h4>
                <p>Once you signup as an affiliate, you will be given a unique affiliate ID as well as custom-formatted links that will ensure that traffic coming from your site is properly tracked. We maintain a 90-day cookie, meaning that if a visitor clicks on a link from your site, you are
                    credited with the sale as long as the visitor purchases within 90 days.</p>
            </div>
            <!--end questions item-->
            <!--begin questions item-->
            <div class="questions_list__item questions_item">
                <h4 class="title">How do I get paid?</h4>
                <p>On the 1st and 15th of each month, if you have a minimum affiliate balance of $50 USD. You can change your payment method anytime or contact us to request a new
                    payment method.</p>
            </div>
            <!--end questions item-->
            <!--begin questions item-->
            <div class="questions_list__item questions_item">
                <h4 class="title">Do I get recurring revenue?</h4>
                <p>This depends on the program. We have two different programs
                    where you can choose while you signup. If you opt for recurring, you will receive 25% commision. If you opt for one time commision,
                    you will receive 50%</p>
            </div>
            <!--end questions item-->
            <!--begin questions item-->
            <div class="questions_list__item questions_item">
                <h4 class="title">What's the difference between premium and
                    private proxies</h4>
                <p>Premium Proxies have 1gbps dedicated bandwidth speed and virgin IPs which are never before used. Private Proxies have 100 mbps bandwidth and uses recycled IPs.</p>
            </div>
            <!--end questions item-->
            <!--begin questions item-->
            <div class="questions_list__item questions_item">
                <h4 class="title">What type of authentication is provided?</h4>
                <p>By default proxies are authenticated by your IP. Maximum of IPs will be allowed. On request we can also authenticate by username/password.</p>
            </div>
            <!--end questions item-->
        </div>
    </div>
</section>
<!--end questions-->
<!--begin started-->
<section class="started">
    <div class="container">
        <div class="started__wrapper started_wrap">
            <div class="started_wrap__info started_info">
                <h2 class="title">
                    Get started today for free
                </h2>
                <form>
                    <input type="email" placeholder="Email">
                    <input type="submit" value="Get started">
                </form>
            </div>
            <div class="started_wrap__img started_img">
                <img src="img/img_started.svg" alt="Started">
            </div>
        </div>
    </div>
</section>
<!--end started-->