<!--begin header-->
<header class="header">
    <div class="container">
        <div class="header__wrapper header_wrap">
            <div class="header_wrap__logo logo">
                <a href="/"><img src="img/logo_limeproxies.png" alt="Logo"></a>
            </div>
            <div class="header_wrap__right">
                <div class="header_wrap__nav nav">
                    <ul>
                        <li>
                            <a href="http://limeproxies.com/features.php">
                                Features
                                <i class="fa fa-sort-down"></i>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="http://limeproxies.com/why-limeproxies.php">Why Limeproxies</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="http://limeproxies.com/solutions.php">
                                Use Case
                                <i class="fa fa-sort-down"></i>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="http://limeproxies.com/ticketing.php">Ticketing</a>
                                </li>
                                <li>
                                    <a href="http://limeproxies.com/socks.php">Socks</a>
                                </li>
                                <li>
                                    <a href="http://limeproxies.com/gaming.php">Gaming</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="http://limeproxies.com/pricing.php">Pricing</a>
                        </li>
                        <li>
                            <a href="https://www.limeproxies.com/blog">Blog</a>
                        </li>
                        <li>
                            <a href="http://limeproxies.com/support.php">
                                Support
                                <i class="fa fa-sort-down"></i></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="http://limeproxies.com/network-status.php">Status</a>
                                </li>
                                <li>
                                    <a href="http://help.limeproxies.com/">Knowledgebase</a>
                                </li>
                                <li>
                                    <a href="http://limeproxies.com/payment.php">Payment Method</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="header_wrap__btns header_btns">
                    <a class="btn" href="https://dashboard.limeproxies.com/#/login">Login</a>
                    <a class="btn" href="https://dashboard.limeproxies.com/#/login/signup">Sign up</a>
                </div>
            </div>
        </div>
    </div>
</header>
<!--end header-->